<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Dispositivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function cancelarRegistro() {
            if (confirm("¿Estás seguro de que deseas cancelar el registro? Todos los datos se perderán.")) {
                // Redirigir a la página principal
                window.location.href = "{{ url_for('inicio') }}";
            }
        }
    </script>
</head>
<body>
    {% extends 'dashboard.html' %}

{% block content %}
<h2>Registrar Dispositivo</h2>
<form class="clien" method="POST" >
    <input type="show" name="id_Cliente" value="{{ id_Cliente }}">
    
    <!-- Campos del formulario para registrar un dispositivo -->
    <label for="marca">Marca:</label>
    <input type="text" id="marca" name="marca" required><br>

    <label for="modelo">Modelo:</label>
    <input type="text" id="modelo" name="modelo" required><br>

    <label for="reporteIngreso">Reporte de Ingreso:</label>
    <input type="text" id="reporteIngreso" name="reporteIngreso" required><br>

    <label for="fechaIngreso">Fecha de Ingreso:</label>
    <input type="date" id="fechaIngreso" name="fechaIngreso" required><br>

    <label for="estado">Estado:</label>
    <input type="text" id="estado" name="estado" required><br>

    <button class="buscaCliente" type="submit">Registrar Dispositivo</button>
    <button type="button" onclick="cancelarRegistro()">Cancelar</button> <!-- Usamos JavaScript para redirigir -->
</form>
{% endblock %}
</body>
</html>
