/* static/css/styles.css */

/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    text-align: center;
    height: 5vh;
    
}
/*
body.loginn {
    background-image: url('/static/images/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin: 0;
}
    */



/*estylos para el alert de credenciales incorrectas*/

.flash-messages .alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #fff;
}

.alert-success {
    background-color: #28a745;
}

.alert-danger {
    background-color: #dc3545;
}

.alert-info {
    background-color: #17a2b8;
}

.alert-warning {
    background-color: #ffc107;
}




body.loginn{
    background-color: #ebf1eb;
}
/* Estilo para los encabezados */
h1 {
    color: #193af6;
    text-decoration: none;
    margin-left: 0px;
}
p{
    color: #2c9d92;
}

h3{
    color: #274d67;
    position: relative;
    bottom: -40px;
    font-size: 20px;
}

a{
    text-decoration: none;
}
h1.presentacion{
    color: #184ac7;
    text-decoration: none;
    margin-top: 20px;
    
    
}
h1.dasbo{
    color: #e8eaf1;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
}

div.das{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 5px;
  
}
/* estilo para el  prefil del usuario*/
.profi{
   width: 25%;
   height: 30px;
   border-radius: 5px;
   text-align: center;
   justify-content: center;
   position: absolute;
   bottom: 150px;
   left: 10px;

}
.per{
    width: 55px;
    height: 55px;
    background: #cbcedb;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: -150px;
}

.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: -19px;
    top: -14px;
}

span{
    color: #f8fcfb;
    position: relative;
    top: -50px;
    left: 90px;
    
}
.page-title{
    font-size: 40px;
    color: #f2f8f7;
    position: absolute;
    top: -34px;
    left: 550px;
}
/* Estilo para los formularios */
form {
    
    width: 500px;
    height: 200px;
    margin: 100px 200px 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
form.logi{
    width: 500px;
    height: 280px;
    margin: 100px 500px 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align:start;
    background: linear-gradient(to bottom, #2c3e50, #4a6075);


/* estilo para los input de el login*/
    
}form.logi h1 {
    text-align: center;
    color: #fff;
    
}
 label[for="usuario"],label[for="password"]{
    color: #fff ;
}
form.logi input{
    width: 96% !important;
}
button.log{
    padding: 10px 20px;
    background-color: #2e3a6a;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
}

button.bus{
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
}

form.busqueda{
    width: 500px;
    height: 180px;
    margin: 50px 300px 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    
    
}
form.busqueda input{
    width: 95% !important;
}

#clien{
    width: 1180px;
    height: 650px;
    
   
    
}

.clien {
   width: 260px;
   text-align: start;
  
   
}
 .fiel{
    width: 100%;
    height: 300px;
    text-align: start;
   
}


.clien1{
    width: 200px;
    text-align: start;
    position:relative;
    left: 300px;
    top: -570px;
}
.clien1 #dispo textarea{
    width: 80%;
}
legend{
    font-size: 20px;
    font-weight: bold;
}









/*
form.clien1{
    
    position: relative;
    left:600px;
    bottom: 830px;
    width: 500px;
    height: 670px;
    margin: 20px 10px 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: start;
}*/


button.cancelar{
    background-color: red;
    position: relative;
    left: -150px;
   
    font-size: 17px;
}

button.guarda{
    margin: 0;
    background-color: rgb(20, 77, 236);
    position: relative;
    left: 136px;
    bottom: -39px;
    font-size: 17px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
    width: 35%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form .clien input  {
    width: 100% ;
}
form .clien1 input {
    width: 100% ;
}

/* Estilo para los botones */
button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
}
button.buscaCliente{
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:180px ;
}
button.busca{
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}



a.cancel{
    text-decoration: none;
    color: white;
}


button:hover {
    background-color: #4c5bae;
}

/*estilo para el boton de apagar*/
a.power{
    position: relative;
    left: 80px;
    bottom: -5px;
}



/*Estilos de la tablas */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 80px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #274d67;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Form Styles */
form {
    margin: 10px;
    align-content: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

form button:hover {
    background-color: #1f08c9;
}


/*nuevo*/

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    display: flex;
}

/* Barra Lateral de Navegación */
.sidebar {
    width: 240px;
    background-color: #415160;
    color: #fff;
    padding: 10px;
    height: 100vh;
    position: fixed;
    margin: 0%;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/*estilos para el nav de las paginas */

.nav{
    padding:  0px;
    text-align: center;
     background-color: #0F72CD;
     width:100%;
     height: 45px;
     border-radius: 20px 20px;
     position: relative;
     left: -6px;
     
}

.user{
    width: 200px;
}

/* Área de Contenido Principal de los template */
.main-content {
    display: grid;
    padding: 0px 5px;
    width: 100%;
    height: 700px;
    margin-left: 270px;
    margin-top: 5px;
   
}

/* Estilo para mensajes flash */
.flashes {
    margin: 30px 0;
}

.flash {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fdfcfc;
}

.flash.success {
    background-color: #28a745;
}

.flash.danger {
    background-color: #dc3545;
}

.flash.warning {
    background-color: #f37a09;
}

.flash.info {
    background-color: #17a2b8;
}


 p{
    font-size: 18px;
    position: relative;
    top: 330px;
    color: #417e0f;
}
.rest{
    display: block;
    height: 57px;
    position:absolute;
    bottom: -4px;
    left: -4px;
    
}
.res{
    width: 49px;
    height: 48px;
    position: relative;
    left: 110px;
    top: 1px;
    border-radius: 33px;
}



/* Estilos para los enlaces dentro de los <li> */
li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px; /* Espaciado interno de los enlaces */
    text-decoration: none; /* Quitar el subrayado */
    font-family: Arial, sans-serif; /* Fuente personalizada */
    border-radius: 15px 15px 0px;
    position: relative;
    left: 11px;
}

/* Cambiar el color de fondo al pasar el mouse por encima */
li a:hover {
    background-color: #0F72CD; /* Color de fondo al pasar el mouse */
}

/* Cuando el enlace esté activo o se haya hecho clic */
li a:active, li a.active {
    background-color: #0e29fa; /* Color de fondo para el enlace activo */
    color: white; /* Color del texto para el enlace activo */
}

/* Estilos para pantallas más pequeñas (responsivo) */
@media (max-width: 600px) {
    li {
        float: none; /* Los elementos se alinean verticalmente en pantallas pequeñas */
    }

    li a {
        text-align: left; /* Alinear el texto a la izquierda en pantallas pequeñas */
        padding: 10px; /* Reducir el espaciado interno */
    }
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 350px;
}

#passwordInput {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
