{% extends 'inicio.html' %}
{% block title %}APP JULIAN | Nuevo Registro{% endblock %}

{% block nav %}
<div class="contenedor_nav">
    <button class="registro_nuevo"><a href="{{ url_for('main.register_cliente_dispositivo') }}">Registrar</a></button>
    
    <button class="regre">
        <a class="bot" href="{{ url_for('main.inicio') }}">INICIO</a>
    </button>

    <form class="busqueda" method="GET" action="{{ url_for('main.buscar') }}">
        <input type="text" name="query" placeholder="Buscar por nombre o NIT" required>
        <button class="buscal" type="submit">Buscar</button>
    </form>
</div>
{% endblock %}

{% block content %}

<!-- Formulario combinado de Cliente y Dispositivo -->
<form id="clien" action="{{ url_for('main.register_cliente_dispositivo') }}" method="post" onsubmit="return validarFormulario()">
    <div class="clien">
        <!-- Datos del Cliente -->
        <fieldset class="fiel">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="{{ cliente.nombre }}" placeholder="Nombres" required>
            </div>
            <div>
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" value="{{ cliente.apellidos }}" placeholder="Apellidos" required>
            </div>
            <div>
                <label for="nit">NIT:</label>
                <input type="number" id="nit" name="nit" value="{{ cliente.nit }}" placeholder="Cc. Cliente" required>
            </div>
            <div>
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" value="{{ cliente.correo }}" placeholder="Correo electronico" required>
            </div>
            <div>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" value="{{ cliente.direccion }}" placeholder="Direccion de residencia" required>
            </div>
            <div>
                <label for="telefono">Teléfono:</label>
                <input type="number" id="telefono" name="telefono" value="{{ cliente.telefono }}" placeholder="Tel/celular" required>
            </div>
            <div>
                <label for="fechaIngreso">Fecha registro:</label>
                <input type="date" id="fechaIngreso" name="fechaIngreso" value="{{ cliente.fechaIngreso }}" required>
            </div>
        </fieldset>
    </div>

    <!-- Datos del Dispositivo -->
    <fieldset id="dispo">   
        <div class="conte">
            <!-- primer div-->
            <div class="datos_cliente">
                <div>
                    <input type="number" id="Imei" name="Imei" value="{{ dispositivo.Imei }}" placeholder="IMEI del dispositivo" required>
                </div>
                <div>
                    <input type="text" id="modelo" name="modelo" value="{{ dispositivo.modelo }}" placeholder="Modelo del telefono" required>
                </div>
                <div>
                    <input type="text" id="clave_tel" name="clave_tel" value="{{ dispositivo.clave_tel }}" placeholder="Clave del telefono" required>
                </div>
                <div>
                    <input type="number" step="0.01" min="0" id="abono" name="abono" value="{{ dispositivo.abono }}" placeholder="Abono" required>
                </div>
                <div>
                    <input type="text" id="estado" name="estado" value="{{ cliente.estado or 'pendiente'}}" selected >
                </div>
            </div>
            <!-- segundo div-->
            <div class="datos_cliente">
                <div>
                    <select id="marca" name="marca" required>
                        <option value="">Marca del telefono</option>
                        <option value="{{ dispositivo.marca }}" style="display:none;">{{ dispositivo.marca }}</option>
                        <option value="Iphone">Iphone</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Motorola">Motorola</option>
                        <option value="Huawei">Huawei</option>
                        <option value="Oppo">Oppo</option>
                        <option value="Alcatel">Alcatel</option>
                        <option value="Zt">Zt</option>
                    </select>
                </div>
                <div>
                    <select id="per_recibe" name="per_recibe" required>
                        <option value="">Quien lo recibe?</option>
                        <option value="{{ dispositivo.per_recibe }}" style="display:none;">{{ dispositivo.per_recibe }}</option>
                        <option value="Julian">Julian</option>
                        <option value="Camila">Camila</option>
                        <option value="Manuel">Manuel</option>
                    </select>
                </div>
                <div>
                    <select id="color" name="color" required>
                        <option value="">Color del telefono</option>
                        <option value="{{ dispositivo.color }}" style="display:none;">{{ dispositivo.color }}</option>
                        <option value="amarillo">Amarillo</option>
                        <option value="verde">Verde</option>
                        <option value="azul">Azul</option>
                        <option value="rojo">Rojo</option>
                    </select>
                </div>
                <div>
                    <select id="display_quebrado" name="display_quebrado" required>
                        <option value="">Estado del display</option>
                        <option value="{{ dispositivo.display_quebrado }}" style="display:none;">{{ dispositivo.display_quebrado }}</option>
                        <option value="bueno">Bueno</option>
                        <option value="rayado">Rayado</option>
                        <option value="quebrado">Quebrado</option>
                    </select>
                </div>
                <div>
                    <select id="tapa_quebrada" name="tapa_quebrada" required>
                        <option value="">Estado de la tapa</option>
                        <option value="{{ dispositivo.tapa_quebrada }}" style="display:none;">{{ dispositivo.tapa_quebrada }}</option>
                        <option value="buena">Buena</option>
                        <option value="rayada">Rayada</option>
                        <option value="quebrada">Quebrada</option>
                    </select>
                </div>
            </div>

            <!-- tercer div-->
            <div class="datos_cliente">
                <div>
                    <select id="enciende" name="enciende" required>
                        <option value="">Telefono enciende</option>
                        <option value="{{ dispositivo.enciende }}"  style="display:none;">{{ dispositivo.enciende }}</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div>
                    <select id="botones" name="botones" required>
                        <option value="">Trae todos sus botones</option>
                        <option value="{{ dispositivo.botones }}" style="display:none;">{{ dispositivo.botones }}</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div>
                    <select id="bandeja_sim" name="bandeja_sim" required>
                        <option value="">Trae la bandeja Simc</option>
                        <option value="{{ dispositivo.bandeja_sim }}" style="display:none;">{{ dispositivo.bandeja_sim }}</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div>
                    <select id="estuche" name="estuche" required>
                        <option value="">Trae estuche</option>
                        <option value="{{ dispositivo.estuche }}" style="display:none;">{{ dispositivo.estuche }}</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div>
                    <select id="simcard" name="simcard" required>
                        <option value="">Trae la simcard</option>
                        <option value="{{ dispositivo.simcard }}" style="display:none;">{{ dispositivo.simcard }}</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <div>
        <textarea id="detalles" name="detalles" placeholder="Detalles del dispositivo" required>{{ dispositivo.detalles }}</textarea>
    </div>
    <div class="but">
        <button class="guarda" type="submit">Guardar</button>
        <button class="cancelar" type="reset"><a href="{{ url_for('main.inicio') }}">Cancelar</a></button>
    </div>
</form>

{% endblock %}
