
   
    {% extends 'dashboard.html' %}

    {% block content %}
    
    <!-- Formulario combinado de Cliente y Dispositivo -->
    <form id="clien" action="{{ url_for('main.register_cliente_dispositivo') }}" method="post">
        <div class="clien">
            <!-- Datos del Cliente -->
            <fieldset class="fiel">
                
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div>
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" required>
            </div>
            <div>
                <label for="nit">NIT:</label>
                <input type="text" id="nit" name="nit" required>
            </div>
            <div>
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" required>
            </div>
            <div>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required>
            </div>
            <div>
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required>
            </div>
            <div>
                <label for="fechaIngreso">Fecha registro:</label>
                <input type="date" id="fechaIngreso" name="fechaIngreso" required>
            </div>
            </fieldset>
        </div>

       
            <!-- Datos del Dispositivo -->
    <fieldset id="dispo">   
            
            <div class="conte">

                <!-- primer div-->
                    <div class="datos_cliente">

                            <div>
                                <input type="text" id="Imei" name="Imei" placeholder="IMEI del dispositivo" required>
                            </div>
                            <div>
                                
                                <input type="text" id="modelo" name="modelo" placeholder="Modelo del telefono" required>
                            </div>
                            <div>
                                
                                <input type="text" id="clave_tel" name="clave_tel" placeholder="clave del telefono" required>
                            </div>
                            <div>
                                
                                <input type="text" id="abono" name="abono" placeholder="Abono" required>
                            </div>
                            <div>
                            
                                <input type="text" id="estado" name="estado" placeholder="Estado">
                
                            </div>

                    </div>
                <!-- segundo div-->
                    <div>
                            <div>
                            <label for="marca">Marca:</label>
                            <select id="maraca" name="marca" required>
                                    <option value="">Seleccionar...</option>
                                    <option value="Iphone">Iphone</option>
                                    <option value="Samgung">Samsung</option>
                                    <option value="Motorola">Motorola</option>
                                    <option value="Huawei">Huawei</option>
                                    <option value="Oppo">Oppo</option>
                                    <option value="Alcatel">Alcatel</option>
                                    <option value="Zt">zt</option>
                            </select>
                            </div>
                                
                            
                            <div>
                                <label for="per_recibe">Persona que recibe:</label>
                                <select id="per_recibe" name="per_recibe" required>
                                    <option value="">Seleccionar...</option>
                                    <option value="Julian">Julian</option>
                                    <option value="Camila">Camila</option>
                                    <option value="Manuel">Manuel</option>
                                
                                </select>
                            </div>
                            <div>
                                <label for="color">Color telefono:</label>
                                <select id="color" name="color" required>
                                    <option value="">Seleccionar...</option>
                                    <option value="amarillo">Amarillo</option>
                                    <option value="verde">Verde</option>
                                    <option value="azul">Azul</option>
                                    <option value="rojo">Rojo</option>
                                </select>
                            </div>
                        
                            <div>
                                <label for="display_quebrado">Display:</label>
                                <select id="display_quebrado" name="display_quebrado" required>
                                    <option value="bueno">Bueno</option>
                                    <option value="rallado">Rayado</option>
                                    <option value="quebrado">Quebrado</option>
                                    
                                </select>
                            </div>
                            
                            <div>

                                <label for="tapa_quebrada">Estado de la tapa:</label>
                                <select id="tapa" name="tapa_quebrada" required>
                                    <option value="buena"> Buena</option>
                                    <option value="buena"> Rayada</option>
                                    <option value="quebrada"> Quebrada</option>
                                </select>
                            </div>
                    </div>

                     <!-- tercer div-->
                    <div>
                            <div>
                                <label for="enciende">Enciende:</label>
                                <select id="enciende" name="enciende" required>
                                    <option value="si"> Sí</option>
                                    <option value="no"> No</option>
                                </select>
                            </div>
                            <div>
                                <label for="botones">¿Trae botones?</label>
                                <select id="botones" name="botones" required>
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div>
                                <label for="bandeja_sim">¿bandeja de SIM?</label>
                                <select id="bandeja_sim" name="bandeja_sim" required>
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div>
                                <label for="estuche">¿Trae estuche?</label>
                                <select id="estuche" name="estuche" required>
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div>
                                <label for="simcard">¿Trae SIM card?</label>
                                <select id="simcard" name="simcard" required>
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                    </div>
                     
            </div>
        </fieldset>
            <div>
                <textarea id="detalles" name="detalles" placeholder="Detalles del dispositivo" required></textarea>
            </div>
            <div class="but">
                <button class="guarda" type="submit">Guadar</button>
                <button class="cancelar" type="reset">Limpia</button>
            </div>
        </div>
       

                   
                
        
    </div>
</form>
   

    {% endblock %}
    
