{% extends 'inicio.html'%}

    <title>{% block title %}APP JULIAN |Dashboard{% endblock %}</title> 
    

    
        
        
        {% block content %}
        <div id="reloj" style="position:absolute;left:570px;top:-4px;color:#fff;font-size:50px;font-family:Impact"></div>
        <div id="page_inicio">
        <button class="validar" ><a  href="#" id="openModalLink">
            Registrar usuario
            <img  src="{{ url_for('static', filename='images/mas.png') }}">
        </a></button>
    <section>
       
    
        <div class="contenUser">
            <h3>Usuarios Registrados</h3>
            
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.usuario }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">No hay usuarios registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="contenUser1">
            <h3 class="regis_encontrados"> Registros de hoy: {{ clientes_hoy|length }}  </h3>
        </div>
        

    </section>
</div>
 <!-- modal para el pin de acceso -->
        
 <div id="pinModal" class="modal" style="display:none;">
    <div class="modal-content">
        <h3>Ingresa tu PIN de acceso</h3>
        <form class="formValidarPin"  method="POST" action="{{ url_for('main.validate_pin') }}">
            <input type="password" name="pin" placeholder="PIN" required>
            <button class="validar1" id="pin">Validar</button>
            <button class="cancel" type="button" id="closeModal">Cancelar</button>
            <p style="color:red; display:none;" id="errorMessage">PIN incorrecto</p>
        </form>
    </div>


    </div>

    {% endblock%}

    

    

            
    
