{% extends 'dashboard.html' %}



{% block content %}
  
    <div id="page_inicio">


        <div id="formularioModal" style="display:none;" onclick="actualizar_registro">
            <div class="modal-content">
                <h3>registre los datos finales</h3>
                <form id="estadoform" method="POST" action="/actualizar_registro">
                    <input type="hidden" name="id" id="idInput">
                    <label for="nuevoEstado">estado</label>
                    <select name="nuevoEstado" id="nuevoEstado">
                        <option value="pendiente">Pendiente</option>
                        <option value="entregado">entregado</option>
                    </select>
    
                    <button type="submit">guardar</button>
                    <button type="button" onclick="cerrarformulario()">Cancelar</button>
                </form>
            </div>
        </div>


        <h3 class="regis_encontrados"> Registros de hoy {{fecha_hoy}} : {{ clientes_hoy|length }}  </h3>

    {% if clientes_hoy %}
        <table>
            <thead>
                <tr> 
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>NIT</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>fecha de ingreso</th>
                    <th>estado</th>

                    
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes_hoy %}
                    <tr>
                        <td>{{ cliente.idCliente }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellidos }}</td>
                        <td>{{ cliente.nit }}</td>
                        <td>{{ cliente.correo }}</td>
                        <td>{{ cliente.direccion }}</td>    
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.fechaIngreso }}</td>
                        <td>
                            <span class="estado {{'pendiente' if cliente.estado =='pendiente' else 'entregado'}}"
                                onclick="abrirform({{cliente.id}},'{{ cliente.estado}}')">

                                {{ cliente.estado }}
                            </span>
                        </td>
                    </tr>

                     
                {% endfor %}
            </tbody>
        </table>

        <!--modal de ultimo resgistro-->

        <div id="modal-overlay" style="display:none;"></div>
            <div id="modal" style="display:none;">
                <h3>acualizar Estado</h3>
                <form id="form-estado" method="POST" action="/actualizar_estado">
                    <input type="hidden" name="estado_id" id="estado_id">
                    <label for="estado">nuevo estado</label>
                    <select name="estado" id="estado" required>
                        <option value="pendiente">Pendiente</option>
                        <option value="entregado">entregado</option>
                    </select>
                    <br><br>
                    <button type="submit">guardar</button>
                    <button type="button" onclick="cerrarModal()">Cancelar</button>
                </form>
            </div>
        </div>
    </div> 
    {% else %}
        <p>No hay clientes registrados hoy.</p>
    {% endif %}
    
    
    
{% endblock %}
