{% extends 'dashboard.html' %}
{% block title %}APP JULIAN | Inicio{% endblock %}

{% block header%}
    
       <img src="{{ url_for('static', filename='images/logo2.svg') }}" class="logo-img" alt="soy la imagen">

        <button class="regre">
        <a class="bot" href="{{ url_for('main.dashboard') }}">Dashboard</a>
        </button>
       <a href="{{ url_for('main.inicio') }}"><img src="{{ url_for('static', filename='images/perfil.png') }}"  alt="img" class="Perfil-img" id="profileImg"></a>
       
       
    {% endblock%}

{% block content %}

  
    <div id="page_inicio">

        <h3 class="regis_encontrados"> Registros de hoy {{fecha_hoy}} : {{ clientes_hoy|length }}  </h3>

    {% if clientes_hoy %}
        <table>
            <thead>
                <tr> 
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>NIT</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>fecha de ingreso</th>
                    <th>estado</th>

                    
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes_hoy %}
                    <tr>
                        <td>{{ cliente.idCliente }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellidos }}</td>
                        <td>{{ cliente.nit }}</td>
                        <td>{{ cliente.correo }}</td>
                        <td>{{ cliente.direccion }}</td>    
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.fechaIngreso }}</td>
                        <td>
                            <span class="estado {{'pendiente' if cliente.estado =='pendiente' else 'entregado'}}"
                                onclick="abrirformulario({{cliente.idCliente}},'{{ cliente.estado}}')">

                                {{ cliente.estado }}
                            </span>
                        </td>
                    </tr>

                     
                {% endfor %}
            </tbody>
        </table>
  
    {% else %}
        <p>No hay clientes registrados hoy.</p>
    {% endif %}
</div>
<div id="modal-overlay" style="Display:none;"></div>
<div id="modal" style="Display:none;">
    <h3>Actualizar Estado</h3>
    <form id="form-estado" method="POST" action="{{ url_for('main.actualizar_estado') }}">
        <input type="hidden" id="cliente-id" name="cliente-id">
        <label for="estado">Nuevo estado:</label>
        <select name="estado" id="estado" required>
            <option value="pendiente">Pendiente</option>
            <option value="entregado">Entregado</option>
        </select>
        <br><br>
        <button type="submit">Guardar</button>
        <button type="button" onclick="cerrarModal()">Cancelar</button>
    </form>
</div>


{% endblock %}

