

    {% extends 'dashboard.html' %}

    
   
    {% block content %}
   
    <div id="page_inicio">

        

    {% if cliente_results %}
        
    
        
          <h3 class="regis_encontrados"> Registros encontrados: {{ cliente_results|length }}</h3>
        
         
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>apellidos</th>
                    <th>NIT</th>
                    <th>Correo</th>
                    <th>direccion</th>
                    <th>Telefono</th>
                    <th>Fecha de registro</th>
                  

                    <!-- Añadir más columnas según sea necesario -->
                </tr>

            </thead>
            <tbody>
                {% for resultado in cliente_results %}
                <tr>
                    <td>{{ resultado.idCliente }}</td>
                    <td>{{ resultado.nombre }}</td>
                    <td>{{ resultado.apellidos}}</td>
                    <td>{{ resultado.nit }}</td>
                    <td>{{ resultado.correo }}</td>
                    <td>{{ resultado.direccion}}</td>
                    <td>{{ resultado.telefono}}</td>
                    <td>{{ resultado.fechaIngreso}}</td>
                    
                    <!-- Añadir más columnas según sea necesario -->
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p> No se encontro ningun registro</p>
    {% endif %}
        
    </div>
    {% endblock %}
    



