

    {% extends 'inicio.html' %}
    {% block title %}APP JULIAN | Busqueda{% endblock %}
   
    
    {% block content %}
    

    

    <div id="page_inicio">
        
        

    {% if cliente_results %}
        
    
        
          <h3 class="regis_encontrados"> Registros encontrados: {{ cliente_results|length }}</h3>
        
         
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>apellidos</th>
                    <th>NIT</th>
                    <th>Correo</th>
                    <th>direccion</th>
                    <th>Telefono</th>
                    <th>Fecha de registro</th>
                    <th>ver</th>
                  

                    <!-- Añadir más columnas según sea necesario -->
                </tr>

            </thead>
            <tbody>
                {% for cliente in cliente_results %}
                <tr>
                    <td>{{ cliente.idCliente }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellidos}}</td>
                    <td>{{ cliente.nit }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.direccion}}</td>
                    <td>{{ cliente.telefono}}</td>
                    <td>{{ cliente.fechaIngreso}}</td>
                    <td>
                        <button class="bo" onclick="abremodal({{cliente.idCliente}})">
                            <img style="margin-top:1px;width:23px;height:20px" src="{{ url_for('static', filename='images/ver.png') }}" alt="Ver">
                        </button>
                        
                    </td>
                    
                    <!-- Añadir más columnas según sea necesario -->
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        
    {% endif %}
        
    </div>
    
    {% endblock %}
    <!-- Modal -->
<div id="info-all" class="modal" style="display:none">
    <div class="modal-conte">
        <h3>Información Detallada</h3>
        <div id="cliente-info">
            <h4>Cliente</h4>
            
            
     
        </div>

        <div id="dispositivo-info">
            <h4>Dispositivos</h4>
            
            
        </div>

        <div id="reporte-info">
            <h4>Reporte Final</h4>
            
    
        </div>
        <button onclick="cerrarmodal()">cerrar</button>
    </div>
</div>
    



